@model IEnumerable<RepositoryPattern.Business.Domain.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <form action="/Home/AddProduct" method="post">
        <button class="btn btn-primary">Ürün Ekle</button>
    </form>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>CategoryId</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {
                <tr>
                    <th>@product.Name</th>
                    <th>@product.CategoryId</th>
                </tr>
            }


        </tbody>
    </table>
</div>